{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}Wallet Withdrawals{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center py-3 mb-1">
    <h4>Wallet Withdrawals</h4>
    <a href="{% url 'wallet:withdrawal' %}" class="btn btn-outline-primary">
        <i class="fa-solid fa-plus me-2"></i> New Withdrawal
    </a>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">My Withdrawal Transactions</h5>
                <div class="dropdown">
                    <button class="btn text-muted p-0" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{{ request.path }}">Refresh</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Processed At</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for withdrawal in withdrawals %}
                        <tr>
                            <td>{{ withdrawal.reference }}</td>
                            <td>₦{{ withdrawal.amount|floatformat:0|intcomma }}</td>
                            <td>{{ withdrawal.get_status_display }}</td>
                            <td>{{ withdrawal.description }}</td>
                            <td>
                                {% if withdrawal.processed_at %}
                                {{ withdrawal.processed_at|date:"F j, Y, g:i a" }}
                                {% else %}
                                Not Processed
                                {% endif %}
                            </td>
                            <td>{{ withdrawal.created|date:"F j, Y" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=withdrawals %}
        </div>
    </div>
</div>

{% endblock content %}