{% extends "accounts/base.html" %}

{% block title %}All Users{% endblock title %}

{% block content %}

{% include 'accounts/administrator/partials/_header_item.html' with head_title="All Users" %}

<div class="row mb-4">
    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="primary" label_color="primary" icon_class="fa-solid fa-user-plus" count=registered_users title="Registered Users" %}

    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="success" label_color="success" icon_class="fa-solid fa-user-check" count=active_users title="Active Users" %}

    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="warning" label_color="warning" icon_class="fa-solid fa-user-slash" count=banned_users title="Banned Users" %}

    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="danger" label_color="danger" icon_class="fa-solid fa-user-minus" count=deactivated_users title="Deactivated Users" %}
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="All Users List" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        {% include 'accounts/administrator/users/partials/_table_head.html' %}
                    </thead>
                    <tbody>
                        {% for user in bettors %}
                        {% include "accounts/administrator/users/partials/_user_item.html" %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=bettors %}
        </div>
    </div>
</div>

{% endblock content %}
