{% extends "accounts/base.html" %}

{% block title %}Deactivated Users{% endblock title %}

{% block content %}

{% include 'accounts/administrator/partials/_header_item.html' with head_title="Deactivated Users" %}

<div class="row mb-4">
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="fa-solid fa-stop"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ deactivated_users }}</h4>
                </div>
                <p class="mb-1">Deactivated Users</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="Deactivated Users List" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        {% include 'accounts/administrator/users/partials/_table_head.html' %}
                    </thead>
                    <tbody>
                        {% for user in bettors %}
                        {% include "accounts/administrator/users/partials/_user_item.html" %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=bettors %}
        </div>
    </div>
</div>

{% endblock content %}