{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}Bundle Payout Transactions{% endblock title %}

{% block content %}

{% include 'accounts/administrator/partials/_header_item.html' with head_title="All Payouts" %}

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/bettor/partials/_card_header.html' with card_header="Bundle Payout Transactions" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <tr>
                            <th>Bundle</th>
                            <th>Stake</th>
                            <th>Payout</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payout in payouts %}
                        <tr>
                            <td>{{ payout.bundle.name }}</td>
                            <td>₦{{ payout.purchase_amount|floatformat:0|intcomma }}</td>
                            <td>₦{{ payout.amount|floatformat:0|intcomma }}</td>
                            <td>{{ payout.get_status_display }}</td>
                            <td>{{ payout.created|date:"F j, Y, g:i a" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=payouts %}
        </div>
    </div>
</div>

{% endblock content %}