{% extends "accounts/base.html" %}

{% block title %}All Payouts{% endblock title %}

{% block content %}

{% include 'accounts/administrator/partials/_header_item.html' with head_title="All Payouts" %}

<div class="row mb-4">
    <!-- Total Payouts -->
    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="primary" label_color="primary" icon_class="fa-solid fa-naira-sign" title="Total Payouts" count=total_payouts %}

    <!-- Pending Payouts -->
    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="info" label_color="info" icon_class="fa-solid fa-hourglass-half" count=pending_payouts title="Pending Payouts" %}

    <!-- Approved Payouts -->
    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="success" label_color="success" icon_class="fa-solid fa-check" count=approved_payouts title="Approved Payouts" %}

    <!-- Cancelled Payouts -->
    {% include 'accounts/administrator/partials/_stat_card.html' with border_color="danger" label_color="danger" icon_class="fa-solid fa-times" count=cancelled_payouts title="Cancelled Payouts" %}
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/bettor/partials/_card_header.html' with card_header="All Payouts List" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        {% include 'accounts/bettor/payouts/partials/_table_head.html' %}
                    </thead>
                    <tbody>
                        {% for payout in payouts %}
                        {% include "accounts/bettor/payouts/partials/_payout_item.html" %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=payouts %}
        </div>
    </div>
</div>

{% endblock content %}