{% load humanize %}
<tr>
    <td>{{ group.name }}</td>
    <td>{{ group.description|truncatechars:70 }}</td>
    <td>{{ group.pending_group_request }}</td>
    <td>{{ group.updated|date:"F j, Y" }}</td>
    <td><span
            class="badge rounded bg-label-{% if group.status == group.Status.RUNNING %}success{% else %}danger{% endif %}">{{ group.get_status_display }}</span>
    </td>
    <td>
        <div class="d-flex">
            <div class="avatar me-2">
                <a href="{{ group.get_absolute_url }}" class="avatar-initial rounded bg-label-primary"
                    data-bs-toggle="tooltip" data-bs-offset="0,8" data-bs-placement="top"
                    data-bs-custom-class="tooltip-primary" title="View Group">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
    </td>
</tr>