{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Email Sent" %}{% endblock %}

{% block content %}

<section class="section-py">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3 text-center">{% trans "Account Activation Email Sent" %}</h4>
                        <p>
                            {% trans "Before you can login, you must activate your account with the verification link sent to your email address to complete the registration process." %}
                        </p>
                        <p>
                            {% trans "If you did not receive this email in your primary mail folder, please check your junk/spam folder." %}
                        </p>
                        <p>
                            {% trans "If you entered an incorrect email address, you will need to re-register with the correct email address." %}
                        </p>
                        <p class="text-center">
                            <span>{% trans "New on our platform?" %}</span>
                            <a href="{% url 'auth:register' %}">
                                <span>{% trans "Create an account" %}</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}