{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>Activate Your Account</title>
</head>

<body>
    <p>Hi {{ user.first_name }},</p>
    <p>Thank you for registering at {{ site_name }}.</p>
    <p>You are receiving this email because you (or someone pretending to be you)
        have asked to register an account on {{ domain }}. If you do not
        wish to register for an account with us, please ignore this message.</p>
    <p>To activate your account, please click the following link below:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'auth:activate' uidb64=uid token=token %}">Activate Your Account</a>
    </p>
    <p>Or copy and paste this link into your web browser:
        {{ protocol }}://{{ domain }}{% url 'auth:activate' uidb64=uid token=token %}</p>
    <p>Best regards,<br />The {{ site_name }} Team</p>
</body>

</html>