{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Reset your Password{% endblock %}

{% block content %}

<section class="section-py first-section-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-2 text-center">Reset your Password</h4>
                        <p class="mb-4">Enter your email address if you have forgotten your password.</p>
                        {% if form.errors %}
                        <p>
                            Your username and password didn't match.
                            Please try again.
                        </p>
                        {% endif %}
                        <form class="mb-3" action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email</label>
                                {% render_field form.email class="form-control" placeholder="Enter your email" %}
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Send Email</button>
                            </div>
                        </form>
                        <p class="text-center">
                            <span>Remembered your password?</span>
                            <a href="{% url 'auth:login' %}">
                                <span>Login now</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}