{% extends "accounts/base.html" %}
{% load form_tags i18n %}

{% block title %}{% trans "Change your password" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-4 col-md-6 col-12 mx-md-auto">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">{% trans "Change your password" %}</h5>
            </div>
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        {% render_form_field form.old_password %}
                    </div>
                    <div class="mb-3">
                        {% render_form_field form.new_password1 %}
                    </div>
                    <div class="mb-3">
                        {% render_form_field form.new_password2 %}
                    </div>
                    <div class="d-grid gap-2 text-center mt-3">
                        <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}