{% extends "base.html" %}
{% load form_tags i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
<section class="section-py">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-2 text-center">{% trans "Welcome to" %} Bigg-Boller!</h4>
                        <p class="mb-4">{% trans "Please register for a new account and start the adventure" %}</p>
                        <form class="mb-3" action="{% url 'auth:register' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {% render_form_field form.username %}
                            </div>
                            <div class="mb-3">
                                {% render_form_field form.first_name %}
                            </div>
                            <div class="mb-3">
                                {% render_form_field form.last_name %}
                            </div>
                            <div class="mb-3">
                                {% render_form_field form.email %}
                            </div>
                            <div class="mb-3">
                                {% render_form_field form.phone_number %}
                            </div>
                            <div class="mb-3">
                                {% render_form_field form.password %}
                            </div>
                            <div class="mb-3">
                                {% render_form_field form.password2 %}
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success d-grid w-100"
                                    type="submit">{% trans "Register" %}</button>
                            </div>
                        </form>
                        <p class="text-center">
                            <span>{% trans "Already have an account?" %}</span>
                            <a href="{% url 'auth:login' %}">
                                <span>{% trans "Proceed to Login" %}</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    document.querySelector("input[name='phone_number']").addEventListener("input", (e) => {
        const inputField = e.target;
        inputField.value = inputField.value.replace(/[^0-9]/g, '');
    });
</script>
{% endblock scripts %}