<footer class="landing-footer bg-dark footer-text">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="/" class="app-brand-link mb-4 h2">
                        <span class="app-brand-text footer-link fw-bold">Bigg-Boller</span>
                    </a>
                    <p class="footer-text footer-logo-description mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam similique consectetur
                        assumenda reiciendis amet placeat ratione quod corporis possimus.
                    </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <h6 class="footer-title mb-4">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="" class="footer-link">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="" class="footer-link">Contact Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="" class="footer-link">Terms of Service</a>
                        </li>
                        <li class="mb-3">
                            <a href="" class="footer-link">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <h6 class="footer-title mb-4">My Account</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="" class="footer-link">My Dashboard</a>
                        </li>
                        <li class="mb-3">
                            <a href="" class="footer-link">Login</a>
                        </li>
                        <li class="mb-3">
                            <a href="" class="footer-link">Sign Up</a>
                        </li>
                        <li class="mb-3">
                            <a href="" class="footer-link">Forgot Password</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="app-brand-text fw-bold mb-4">
                        <h4 class="app-brand-text footer-link">Subscribe to newsletter</h4>
                        <p>Join our newsletter subscription to get latest updates and betting tips weekly.</p>
                    </div>
                    <form class="footer-form">
                        <div class="d-flex">
                            <input type="email" class="form-control rounded-0 rounded-start-bottom rounded-start-top"
                                id="footer-email" placeholder="Your email" />
                            <button type="submit"
                                class="btn btn-primary shadow-none rounded-0 rounded-end-bottom rounded-end-top">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
        <div
            class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
            <div class="mb-2 mb-md-0">
                <span class="footer-text">&copy; {% now "Y" %} Bigg-Boller &bull; All Rights Reserved.</span>
            </div>
            <div>
                <a href="" class="footer-link me-3" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="" class="footer-link me-3" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="" class="footer-link me-3" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</footer>