{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}{{ bundle.name }} | Bundle{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center py-3">
    <h4>
        <span class="text-muted fw-light">Bundle /</span> {{ bundle.name }}
    </h4>
    {% if not bundle.group.status == 'C' %}
    {% if bundle.status == 'P' %}
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateBundleStatus">
        <i class="fa-solid fa-pen me-2"></i> Update Status
    </button>
    {% endif %}
    {% endif %}
</div>

<div class="row mb-4">
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="fa-solid fa-object-group"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ bundle.group.name }}</h4>
                </div>
                <p class="mb-1">Bundle group</p>
                <p class="mb-0">
                    <span
                        class="fw-medium me-1 {% if bundle.group.status == 'R' %}text-success{% else %}text-danger{% endif %}">{{ bundle.group.get_status_display }}</span>
                    <small class="text-muted">Group status</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-info">
                            <i class="fa-solid fa-naira-sign"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ bundle.price|floatformat:0|intcomma }}</h4>
                </div>
                <p class="mb-1">Bundle price</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ bundle.min_bundles_per_user }} -
                        {{ bundle.max_bundles_per_user }}</span>
                    <small class="text-muted">Bundles per user</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-success h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="fa-solid fa-trophy"></i>
                        </span>
                    </div>
                    <h6 class="ms-1 mb-0">₦{{ bundle.potential_min_win|floatformat:0|intcomma }} -
                        ₦{{ bundle.potential_max_win|floatformat:0|intcomma }}</h6>
                </div>
                <p class="mb-1">Potential Wins</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">x{{ bundle.minimum_win_multiplier }} -
                        x{{ bundle.maximum_win_multiplier }}</span>
                    <small class="text-muted">Win multipliers</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i
                                class="fa-solid fa-{% if bundle.status == 'P' %}hourglass-half{% elif bundle.status == 'W' %}check-circle{% else %}ban{% endif %}"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ bundle.get_status_display }}</h4>
                </div>
                <p class="mb-1">Bundle status</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ bundle.updated_at|date:"F j, Y" }}</span>
                    <small class="text-muted">Last updated</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="Bundle Participants List" %}

            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Stake</th>
                                <th>Potential Returns</th>
                                <th>Date Purchased</th>
                                <th>Reference ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </thead>
                    <tbody>
                        {% for deposit in approved_deposits %}
                        <tr>
                            <td>{{ deposit.user.get_full_name }} <br> {{ deposit.user.email }}</td>
                            <td>
                                ₦{{ deposit.amount|floatformat:0|intcomma }} <br>
                                (x{{ deposit.quantity }}) bundles
                            </td>
                            <td>₦{{ deposit.potential_min_win|floatformat:0|intcomma }} -
                                ₦{{ deposit.potential_max_win|floatformat:0|intcomma }}</td>
                            <td>{{ deposit.created|date:"M d, Y" }}</td>
                            <td>{{ deposit.paystack_id }}</td>
                            <td>
                                <span class="badge bg-success">{{ deposit.get_status_display }}</span>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=bundles %}
        </div>
    </div>
</div>

{% include "accounts/administrator/bundles/modals/update_bundle_status.html" %}

{% endblock content %}