{% extends "accounts/base.html" %}

{% block title %}All Bundles{% endblock title %}

{% block content %}

<div class="py-3">
    <h4>All Bundles</h4>
</div>

<div class="row mb-4">
    {% include 'accounts/administrator/partials/_stats_card.html' with count=pending_bundles label="Available Bundles" icon_class="fa-solid fa-layer-group" color_class="primary" %}
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/bettor/partials/_card_header.html' with card_header="All Bundles List" %}

            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        {% include 'accounts/bettor/bundles/partials/_table_head.html' %}
                    </thead>
                    <tbody>
                        {% for bundle in bundles %}
                        {% include "accounts/bettor/bundles/partials/_bundle_item.html" %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=bundles %}
        </div>
    </div>
</div>

{% endblock content %}