{% extends "accounts/base.html" %}
{% load humanize %}
{% block title %}My Bundles{% endblock title %}

{% block content %}

<div class="py-3">
    <h4>My Bundles</h4>
</div>

<div class="row mb-4">
    {% include 'accounts/administrator/partials/_stats_card.html' with count=total_purchases label="My Bundles" icon_class="fa-solid fa-layer-group" color_class="primary" %}
</div>

<div class="row">
    {% for purchase in purchases %}
    <div class="col-xl-4 col-sm-6 col-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h5 class="mb-1">{{ purchase.bundle.name }}</h5>
                        <small
                            class="badge bg-label-{% if purchase.bundle.status == 'P' %}primary{% elif purchase.bundle.status == 'W' %}success{% else %}danger{% endif %}"
                            style="font-size: 10px;">{{ purchase.bundle.get_status_display }}</small>
                    </div>

                    <div class="d-flex justify-content-center">
                        <sup class="h5 pricing-currency mt-3 mb-0 me-1 text-primary">₦</sup>
                        <h3 class="mb-0 text-primary">{{ purchase.bundle.price|floatformat:2|intcomma }}</h3>
                        <sub class="fs-6 mt-auto mb-3">/bundle</sub>
                    </div>
                </div>
                <ul class="g-2 my-4 list-unstyled">
                    <li class="mb-2"> <i class="fa-solid fa-naira-sign text-primary me-2"></i>
                        Total Amount: <strong>₦{{ purchase.amount|floatformat:2|intcomma }}</strong>
                    </li>
                    <li class="mb-2"><i class="fa-solid fa-star text-primary me-2"></i>
                        Quantity: <strong>x{{ purchase.quantity }}</strong>
                    </li>
                    <li class="mb-2"><i class="fa-solid fa-trophy text-primary me-2"></i>
                        Potential Returns: <strong>₦{{ purchase.payout_amount|floatformat:2|intcomma }}</strong>
                    </li>
                    <li><i class="fa-solid fa-clock-rotate-left text-primary me-2"></i>
                        Purchased On: <strong>{{ purchase.updated|date:"F j, Y" }}</strong>
                    </li>
                </ul>
                <div class="d-grid w-100 mt-4 pt-2">
                    <a href="{{ purchase.get_absolute_url }}" class="btn btn-success">View Receipt</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No Bundles Available</p>
    {% endfor %}
    {% include "accounts/administrator/partials/_pagination.html" with page_obj=bundles %}
</div>

{% endblock content %}