{% extends "accounts/base.html" %}
{% block title %}Confirm Purchase - {{ bundle.name }}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-md-6 col-12 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Confirm Your Purchase</h5>
            </div>
            <div class="card-body">
                <p>You're about to purchase:</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Bundle Name:</strong> {{ bundle.name }}
                    </li>
                    <li class="list-group-item">
                        <strong>Price per Unit:</strong> ₦{{ bundle.price|floatformat:2 }}
                    </li>
                    <li class="list-group-item">
                        <strong>Quantity:</strong> {{ quantity }}
                    </li>
                    <li class="list-group-item">
                        <strong>Total Amount:</strong> ₦{{ total_amount|floatformat:2 }}
                    </li>
                </ul>
                <div class="my-3">
                    <form method="post" action="{% url 'bettor:bundles_purchase' bundle.bundle_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="{{ quantity }}">
                        <button class="btn btn-success w-100" type="submit">
                            Confirm and Purchase
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}