{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}Purchase Successful{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-xl-4 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title mb-0 h5">
                    Purchase Receipt
                </div>
                <span class="badge bg-label-success small">
                    {{ deposit.get_status_display }}
                </span>
            </div>
            <div class="card-body">
                <p>
                    Thank you,
                    <span class="text-primary">{{ deposit.user.get_full_name }}</span>.
                    Your bundle purchase is successful.
                </p>


                <div class="mt-4">
                    <div class="text-center">
                        <div class="rounded-circle d-inline-flex align-items-center justify-content-center text-white">
                            <i class="fa-solid fa-thumbs-up text-success fa-2x"></i>
                        </div>
                    </div>
                    <h5 class="text-center mt-2 text-success">Transaction Successful</h5>
                </div>

                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm my-3">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Date</p>
                        <span>{{ deposit.created }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Bundle</p>
                        <span>{{ deposit.bundle.name }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Price</p>
                        <span>₦{{ deposit.bundle.price|floatformat:0|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Stake</p>
                        <span>₦{{ deposit.amount|floatformat:0|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Quantity</p>
                        <span>{{ deposit.quantity }} bundles</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Ref ID</p>
                        <span>{{ deposit.id }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Potential Wins</p>
                        <span>₦{{ deposit.amount|floatformat:0|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3">
                        <p class="p-0 m-0 text-muted fs-6">Description</p>
                        <span>For the weekend flex</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'bettor:bundles_owned' %}">Return to My Bundles</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}