{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}Purchase Successful{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-xl-4 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title mb-0 h5">
                    Purchase Receipt
                </div>
                <span class="badge bg-label-success small">
                    {{ purchase.get_status_display }}
                </span>
            </div>
            <div class="card-body">
                <p>
                    Thank you,
                    <span class="text-primary">{{ purchase.user.get_full_name }}</span>.
                    Your bundle purchase is successful.
                </p>

                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm my-3">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Date</p>
                        <span class="fw-bold">{{ purchase.created }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Bundle</p>
                        <span class="fw-bold">{{ purchase.bundle.name }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Price</p>
                        <span class="fw-bold">₦{{ purchase.bundle.price|floatformat:2|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Stake</p>
                        <span class="fw-bold">₦{{ purchase.amount|floatformat:2|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Quantity</p>
                        <span class="fw-bold">{{ purchase.quantity }} bundles</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">Potential Return</p>
                        <span class="fw-bold">₦{{ purchase.payout_amount|floatformat:2|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3">
                        <p class="p-0 m-0 text-muted fs-6">Reference</p>
                        <span class="fw-bold">{{ purchase.reference }}</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'bettor_groups:groups_all' %}" class="btn btn-primary btn-lg">
                    <i class="fa-solid fa-object-group me-1"></i> Back to My Groups
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}