<tr>
    <td>{{ name }} <br>myemail@example.com</td>
    <td>{{ transaction }}</td>
    <td>₦{{ amount }}</td>
    <td>{{ date }}</td>
    <td><span class="badge rounded bg-label-{{ status_label }}">{{ status }}</span></td>
    <td>
        <div class="d-flex">
            <div class="avatar me-2">
                <a href="" class="avatar-initial rounded bg-label-primary" data-bs-toggle="tooltip" data-bs-offset="0,8"
                    data-bs-placement="top" data-bs-custom-class="tooltip-primary" title="View Deposit">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
            <div class="avatar me-2">
                <a href="/edit/" class="avatar-initial rounded bg-label-warning" data-bs-toggle="tooltip"
                    data-bs-offset="0,8" data-bs-placement="top" data-bs-custom-class="tooltip-warning"
                    title="Edit Deposit">
                    <i class="fa-solid fa-pen"></i>
                </a>
            </div>
        </div>
    </td>
</tr>