{% load humanize %}
<tr>
    <td>{{ group.name }}</td>
    <td>{{ group.description|truncatechars:70 }}</td>
    <td>{{ group.updated_at|date:"F j, Y" }}</td>
    <td><span
            class="badge rounded bg-label-{% if group.status == group.Status.RUNNING %}success{% else %}danger{% endif %}">{{ group.get_status_display }}</span>
    </td>
    <td>
        <div class="d-flex">
            <div class="avatar me-2">
                <a href="#" class="avatar-initial rounded bg-label-primary" data-bs-toggle="modal"
                    data-bs-target="#groupModal{{ group.id }}">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
    </td>
</tr>