{% extends "accounts/base.html" %}

{% block title %}All Groups{% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    {% include 'accounts/administrator/partials/_header_item.html' with head_title="All Groups" %}

    <div class="row mb-4">
        <!-- Total Groups -->
        {% include 'accounts/administrator/partials/_stat_card.html' with border_color="primary" label_color="primary" icon_class="fa-solid fa-users" aria_label="Total Groups" count="500" title="Total Groups" additional_value="2,500" additional_text="Bundles Sold" %}

        <!-- Running Groups -->
        {% include 'accounts/administrator/partials/_stat_card.html' with border_color="success" label_color="success" icon_class="fa-solid fa-play-circle" aria_label="Running Groups" count="420" title="Running Groups" additional_value="₦21,000,000" additional_text="Total Stake" %}

        <!-- Closed Groups -->
        {% include 'accounts/administrator/partials/_stat_card.html' with border_color="danger" label_color="danger" icon_class="fa-solid fa-ban" aria_label="Closed Groups" count="10" title="Closed Groups" additional_value="₦5,000,000" additional_text="Winnings Distributed" %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                {% include 'accounts/administrator/partials/_card_header.html' with card_header="All Groups List" %}
                <div class="table-responsive">
                    <table class="table table-lg">
                        <thead>
                            {% include 'accounts/administrator/groups/partials/_table_head.html' %}
                        </thead>
                        <tbody>
                            {% include "accounts/administrator/groups/partials/_group_item.html" with name="Lively Lagos" price="20,000" status_label="success" status="Running" min_returns="100,000" max_returns="150,000" min_bundles="2" max_bundles="5" %}
                            {% include "accounts/administrator/groups/partials/_group_item.html" with name="Anxious Ankara" price="13,000" status_label="danger" status="Closed" min_returns="80,000" max_returns="120,000" min_bundles="4" max_bundles="10" %}
                            {% include "accounts/administrator/groups/partials/_group_item.html" with name="Happy Customer" price="25,000" status_label="success" status="Running" min_returns="150,000" max_returns="200,000" min_bundles="3" max_bundles="10" %}
                        </tbody>
                    </table>
                </div>
                {% include "accounts/administrator/partials/_pagination.html" %}
            </div>
        </div>
    </div>
</div>
{% include "accounts/administrator/groups/modals/close_group.html" %}
{% endblock content %}