{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}{{ group.name }} | Group{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center py-3">
    <div class="me-5">
        <h4><span class="text-muted fw-light">Groups /</span> {{ group.name }}</h4>
        <p>{{ group.description }}</p>
    </div>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateGroup">
        <i class="fa-solid fa-pen me-2"></i> Update Group
    </button>
</div>

<div class="card bg-transparent shadow-none border-0 my-4">
    <div class="card-body row p-0 pb-3">
        <div class="col-12">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-center gap-3">
                    <span class=" bg-label-primary py-2 px-3 rounded">
                        <i class='fa-solid fa-pencil'></i>
                    </span>
                    <div class="content-right">
                        <p class="mb-0">Name</p>
                        <h4 class="text-primary mb-0">{{ group.name }}</h4>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span
                        class=" bg-label-{% if group.status == group.Status.RUNNING %}success{% else %}danger{% endif %} py-2 px-3 rounded">
                        <i
                            class='fa-solid {% if group.status == group.Status.RUNNING %}fa-check-circle{% else %}fa-times-circle{% endif %}'></i>
                    </span>
                    <div class="content-right">
                        <p class="mb-0">Status</p>
                        <h4
                            class="text-{% if group.status == group.Status.RUNNING %}success{% else %}danger{% endif %} mb-0">
                            {{ group.get_status_display }}</h4>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span class="bg-label-info py-2 px-3 rounded">
                        <i class='fa-solid fa-calendar-days'></i>
                    </span>
                    <div class="content-right">
                        <p class="mb-0">Created</p>
                        <h4 class="text-info mb-0">{{ group.created_at|date:"F j, Y" }}</h4>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span class="bg-label-warning py-2 px-3 rounded">
                        <i class='fa-solid fa-clock'></i>
                    </span>
                    <div class="content-right">
                        <p class="mb-0">Last Updated</p>
                        <h4 class="text-warning mb-0">{{ group.updated_at|date:"F j, Y" }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <h4 class="my-4">Group Bundle Information</h4>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="fa-solid fa-layer-group"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ group.bundle.name }}</h4>
                </div>
                <p class="mb-1">Bundle name</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ group.bundle.created_at|date:"F j, Y" }}</span>
                    <small class="text-muted">Date created</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-success h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">₦{{ group.bundle.price|floatformat:0|intcomma }}</h4>
                </div>
                <p class="mb-1">Bundle price</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ group.bundle.min_bundles_per_user }} -
                        {{ group.bundle.max_bundles_per_user }}</span>
                    <small class="text-muted">Bundles per user</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-info">
                            <i class="fa-solid fa-trophy"></i>
                        </span>
                    </div>
                    <h6 class="ms-1 mb-0">₦{{ group.bundle.potential_min_win|floatformat:0|intcomma }} -
                        ₦{{ group.bundle.potential_max_win|floatformat:0|intcomma }}
                    </h6>
                </div>
                <p class="mb-1">Potential Winnings</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">x{{ group.bundle.minimum_win_multiplier }} -
                        x{{ group.bundle.maximum_win_multiplier }}</span>
                    <small class="text-muted">Win multipliers</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="fa-solid fa-hourglass-half"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ group.bundle.get_status_display }}</h4>
                </div>
                <p class="mb-1">Status</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ group.bundle.updated_at|date:"F j, Y" }}</span>
                    <small class="text-muted">Last updated</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="Group Members List" %}

            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone number</th>
                            </tr>
                        </thead>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                            <td>{{ member.get_full_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.profile.phone_number }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=members %}
        </div>
    </div>
</div>

{% include "accounts/administrator/groups/modals/update_group.html" %}
{% endblock content %}