{% extends "accounts/base.html" %}

{% block title %}Running Groups{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center py-3">
    <h4>Running Groups</h4>
    <a href="{% url 'groups:groups_new' %}" class="btn btn-outline-primary">
        <i class="fa-solid fa-plus me-2"></i> Create New
    </a>
</div>

<div class="row mb-4">
    {% include 'accounts/administrator/partials/_stats_card.html' with count=running_groups label="Running Groups" icon_class="fa-solid fa-check-circle" color_class="success" %}
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="Running Groups List" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        {% include 'groups/partials/_table_head.html' %}
                    </thead>
                    <tbody>
                        {% for group in groups %}
                        {% include "groups/partials/_group_item.html" %}
                        {% include "groups/modals/update_group.html" %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=groups %}
        </div>
    </div>
</div>

{% endblock content %}
