{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}{{ group.name }} | Group{% endblock title %}

{% block content %}

<div class="py-3">
    <h4><span class="text-muted fw-light">Groups /</span> {{ group.name }}</h4>
</div>

<div class="row">
    <div class="col-xl-4 col-lg-5 col-md-5">
        <!-- Group Card -->
        <div class="card mb-4">
            <div class="card-body">
                <div class=" d-flex align-items-center flex-column">
                    <div class="flex-shrink-0 mt-4 mb-2">
                        <div class="avatar avatar-xl">
                            <span class="avatar-initial rounded-circle bg-label-primary">
                                <i class="fa-solid fa-object-group"></i>
                            </span>
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="badge bg-label-secondary">Group</span>
                    </div>
                </div>
                <h5 class="pb-2 border-bottom mb-4">Details</h5>
                <div class="info-container">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <span class="fw-medium me-2">Name:</span>
                            <span>{{ group.name }}</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Status:</span>
                            <span
                                class="text-{% if group.status == group.Status.RUNNING %}success{% else %}danger{% endif %} mb-0">
                                {{ group.get_status_display }}</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Created:</span>
                            <span>{{ group.created|date:"F j, Y" }}</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Last Updated:</span>
                            <span>{{ group.updated|date:"F j, Y" }}</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Description:</span>
                            <span>{{ group.description }}</span>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center pt-3">
                        <a href="javascript:;" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#updateGroup">
                            <i class="fa-solid fa-pen me-2"></i> Update Group
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bundle Card -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h5 class="mb-1">{{ group.bundle.name }}</h5>
                        <small class="badge bg-label-primary"
                            style="font-size: 10px;">{{ group.bundle.get_status_display }}</small>
                    </div>

                    <div class="d-flex justify-content-center">
                        <sup class="h5 pricing-currency mt-3 mb-0 me-1 text-primary">₦</sup>
                        <h3 class="mb-0 text-primary">{{ group.bundle.price|floatformat:0|intcomma }}</h3>
                        <sub class="fs-6 mt-auto mb-3">/bundle</sub>
                    </div>
                </div>
                <ul class="g-2 my-4 list-unstyled">
                    <li class="mb-2"> <i class="fa-solid fa-star text-primary me-2"></i>
                        {{ group.bundle.min_bundles_per_user }} -
                        {{ group.bundle.max_bundles_per_user }} Bundles per user
                    </li>
                    <li class="mb-2"><i class="fa-solid fa-users text-primary me-2"></i>
                        x{{ group.bundle.participants_count }}
                        Participant{{ group.bundle.participants_count|pluralize }}
                    </li>
                    <li class="mb-2"><i class="fa-solid fa-trophy text-primary me-2"></i>
                        {{ group.bundle.winning_percentage|floatformat:0 }}% Winnings Rate
                    </li>
                    <li><i class="fa-solid fa-clock-rotate-left text-primary me-2"></i>
                        {{ group.bundle.updated|date:"F j, Y" }}
                    </li>
                </ul>
                <div class="d-grid w-100 mt-4 pt-2">
                    <a href="{{ group.bundle.get_absolute_url }}" class="btn btn-primary">View Bundle</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8 col-lg-7 col-md-7">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Group Members List</h5>
                        <div>
                            <a href="{% url 'administrator:users_all' %}" class="btn btn-primary">Add a User</a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                    </tr>
                                </thead>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{ member.get_full_name }}</td>
                                    <td>{{ member.email }}</td>
                                    <td>{{ member.profile.phone_number }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">
                                        No record yet.
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include "accounts/administrator/partials/_pagination.html" with page_obj=members %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "groups/modals/update_group.html" %}
{% endblock content %}

{% block paystack %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const limit = 140;
        const descriptionInput = document.getElementById("id_description");
        const remainingCharactersElement = document.getElementById("remainingCharacters");

        const updateRemainingCharacters = () => {
            const start = descriptionInput.value.length;
            const remaining = limit - start;

            let color = "gray";
            if (start > limit) {
                return false;
            } else if (start >= 130) {
                color = "red";
            }

            remainingCharactersElement.textContent = `Characters remaining: ${remaining}`;
            remainingCharactersElement.style.color = color;
        };

        if (descriptionInput) {
            descriptionInput.addEventListener("keyup", updateRemainingCharacters);
        }
    });

</script>
{% endblock paystack %}