{% load form_tags %}
<div class="modal fade" id="updateGroup" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-pen me-1"></i> Update Group: {{ group.name }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <div class="mb-2 col-12">
                            {% render_form_field form.description %}
                            <span class="small" id="remainingCharacters"></span>
                        </div>
                        {% if group.status != 'C' %}
                        <div class="mb-2 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="mb-3">
                                        <div class="form-check custom-option custom-option-icon">
                                            <label class="form-check-label custom-option-content" for="runningStatus">
                                                <span class="custom-option-body">
                                                    <i class="fa-solid fa-play mb-2"></i>
                                                    <span class="custom-option-title">Running</span>
                                                </span>
                                                <input name="status" class="form-check-input" type="radio" value="R"
                                                    id="runningStatus"
                                                    {% if form.status.value == 'R' %}checked{% endif %} />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="mb-3">
                                        <div class="form-check custom-option custom-option-icon">
                                            <label class="form-check-label custom-option-content" for="closedStatus">
                                                <span class="custom-option-body">
                                                    <i class="fa-solid fa-stop mb-2"></i>
                                                    <span class="custom-option-title">Closed</span>
                                                </span>
                                                <input name="status" class="form-check-input" type="radio" value="C"
                                                    id="closedStatus"
                                                    {% if form.status.value == 'C' %}checked{% endif %} />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-times-circle me-2"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-check-circle me-2"></i> Update Group
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
