{% load widget_tweaks %}
<div class="modal fade" id="createGroup" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-plus me-1"></i> Create New Group and Bundle
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <h6>Group Information</h6>
                        <div class="mb-2 col-12">
                            {% render_field group_form.name %}
                        </div>
                        <div class="mb-2 col-12">
                            {% render_field group_form.description %}
                        </div>
                        <h6 class="mt-3">Bundle Information</h6>
                        <div class=" mb-2 col-lg-7">
                            {% render_field bundle_form.name %}
                        </div>
                        <div class="mb-2 col-lg-5">
                            {% render_field bundle_form.price %}
                        </div>
                        <div class="mb-2 col-md-6">
                            {{ bundle_form.minimum_win_multiplier.label_tag }}
                            {{ bundle_form.minimum_win_multiplier }}
                            {% if bundle_form.minimum_win_multiplier.errors %}
                            <div class="text-danger">
                                {{ bundle_form.minimum_win_multiplier.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-2 col-md-6">
                            {{ bundle_form.maximum_win_multiplier.label_tag }}
                            {{ bundle_form.maximum_win_multiplier }}
                            {% if bundle_form.maximum_win_multiplier.errors %}
                            <div class="text-danger">
                                {{ bundle_form.maximum_win_multiplier.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-2 col-md-6">
                            {{ bundle_form.min_bundles_per_user.label_tag }}
                            {{ bundle_form.min_bundles_per_user }}
                            {% if bundle_form.min_bundles_per_user.errors %}
                            <div class="text-danger">
                                {{ bundle_form.min_bundles_per_user.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-2 col-md-6">
                            {{ bundle_form.max_bundles_per_user.label_tag }}
                            {{ bundle_form.max_bundles_per_user }}
                            {% if bundle_form.max_bundles_per_user.errors %}
                            <div class="text-danger">
                                {{ bundle_form.max_bundles_per_user.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-times-circle me-2"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-check-circle me-2"></i> Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>