<div class="modal fade" id="groupModal{{ group.id }}" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="groupForm{{ group.id }}" action="{# url 'administrator:group_detail_update' group.id #}"
                method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-pen me-1"></i> Update Group: {{ group.name }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{ form.status.label_tag }}
                        {{ form.status }}
                        {% if form.status.errors %}
                        <div class="text-danger">
                            {{ form.status.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {% if form.description.errors %}
                        <div class="text-danger">
                            {{ form.description.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-times-circle me-2"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-success" id="updateBtn{{ group.id }}" disabled>
                        <i class="fa-solid fa-check-circle me-2"></i> Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>