{% extends "accounts/base.html" %}

{% block title %}Answered Tickets{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center py-3">
    <h4>Answered Tickets</h4>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createTicket">
        <i class="fa-solid fa-plus me-2"></i> Create New
    </button>
</div>

<div class="row mb-4">
    {% include 'accounts/administrator/partials/_stats_card.html' with count=answered_tickets label="Answered Tickets" icon_class="fa-solid fa-check" color_class="success" %}
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="Answered Tickets List" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        {% include 'accounts/bettor/tickets/partials/_table_head.html' %}
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                        {% include "accounts/bettor/tickets/partials/_ticket_item.html" %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=tickets %}
        </div>
    </div>
</div>

{% include "accounts/bettor/tickets/modals/create_ticket.html" %}

{% endblock content %}