<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            &copy; {% now "Y" %} &bull; Bigg-Boller &bull; All Rights Reserved.
        </div>
        <div class="d-none d-lg-inline-block">
            <a href="" class="footer-link me-4">About Us</a>
            <a href="" class="footer-link me-4">Contact Us</a>
            <a href="" class="footer-link me-4">Help Center</a>
            <a href="" class="footer-link d-none d-sm-inline-block">Terms</a>
        </div>
    </div>
</footer>