<li class="timeline-item timeline-item-transparent">
    <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-primary"></span></span>
    <div class="timeline-event">
        <div class="timeline-header mb-1">
            <h6 class="mb-0">{{ action.title }}</h6>
            <small class="text-muted">{{ action.created|timesince }} ago</small>
        </div>
        <p class="mb-2"><span class="fw-medium">{{ action.user.username|title }}</span> {{ action.verb }}</p>
    </div>
</li>