<li class="d-flex mb-4 pb-1">
    <div class="avatar flex-shrink-0 me-3">
        <span class="avatar-initial rounded bg-label-success"><i class='fas fa-1'></i></span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
        <div class="me-2">
            <h6 class="mb-0">Bundle name</h6>
            <small class="text-muted">Group name</small>
        </div>
        <div class="user-progress">
            <small class="fw-medium">₦234,000</small>
        </div>
    </div>
</li>
<li class="d-flex mb-4 pb-1">
    <div class="avatar flex-shrink-0 me-3">
        <span class="avatar-initial rounded bg-label-success"><i class='fas fa-2'></i></span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
        <div class="me-2">
            <h6 class="mb-0">Bundle name</h6>
            <small class="text-muted">Group name</small>
        </div>
        <div class="user-progress">
            <small class="fw-medium">₦224,000</small>
        </div>
    </div>
</li>
<li class="d-flex mb-4 pb-1">
    <div class="avatar flex-shrink-0 me-3">
        <span class="avatar-initial rounded bg-label-success"><i class='fas fa-3'></i></span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
        <div class="me-2">
            <h6 class="mb-0">Bundle name</h6>
            <small class="text-muted">Group name</small>
        </div>
        <div class="user-progress">
            <small class="fw-medium">₦214,000</small>
        </div>
    </div>
</li>
<li class="d-flex mb-4 pb-1">
    <div class="avatar flex-shrink-0 me-3">
        <span class="avatar-initial rounded bg-label-success"><i class='fas fa-4'></i></span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
        <div class="me-2">
            <h6 class="mb-0">Bundle name</h6>
            <small class="text-muted">Group name</small>
        </div>
        <div class="user-progress">
            <small class="fw-medium">₦204,000</small>
        </div>
    </div>
</li>
<li class="d-flex">
    <div class="avatar flex-shrink-0 me-3">
        <span class="avatar-initial rounded bg-label-success"><i class='fas fa-5'></i></span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
        <div class="me-2">
            <h6 class="mb-0">Bundle name</h6>
            <small class="text-muted">Group name</small>
        </div>
        <div class="user-progress">
            <small class="fw-medium">₦200,000</small>
        </div>
    </div>
</li>
