{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-wide">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{% block title %}{% endblock title %} | Bigg-Boller</title>
    <link rel="icon" type="image/x-icon" href="" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'css/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'css/front-page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'css/front-page-landing.css' %}" />
    <!-- Helpers -->
    <script src="{% static 'js/helpers.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/front-config.js' %}"></script>
</head>

<body>
    {% include "partials/_navbar.html" %}
    {% if messages %}
    {% for message in messages %}
    <div class="position-relative">
        <div class="bs-toast toast fade show bg-primary position-absolute top-0 end-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class='fa-solid fa-bullhorn me-2'></i>
                <div class="me-auto fw-medium">Bigg-Boller</div>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}

    {% include "partials/_footer.html" %}

    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/front-main.js' %}"></script>
    <!-- Page JS -->
    <script src="{% static 'js/front-page-landing.js' %}"></script>
</body>

</html>