{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}{{ bundle.name }} | Bundle{% endblock title %}

{% block content %}

<div class="py-3">
    <h4><span class="text-muted fw-light">Bundle /</span> {{ bundle.name }}</h4>
</div>

<div class="row">
    <div class="col-xl-4 col-lg-5 col-md-5">
        <!-- Bundle Card -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="mb-1">{{ bundle.name }}</h5>

                <!-- Current Round Status -->
                <div class="mt-4">
                    <h6 class="text-muted">Current Round</h6>
                    <div class="d-flex align-items-center">
                        <span class="badge bg-info me-2">Round {{ bundle.current_round }}</span>
                        <span
                            class="badge bg-label-{% if latest_outcome == 'W' %}success{% elif latest_outcome == 'L' %}danger{% else %}secondary{% endif %}">
                            {% if latest_outcome == 'W' %}
                            Won
                            {% elif latest_outcome == 'L' %}
                            Lost
                            {% else %}
                            Pending
                            {% endif %}
                        </span>
                    </div>
                </div>

                <!-- Previous Rounds Outcomes -->
                <div class="mt-4">
                    <h6 class="text-muted">Round Outcomes</h6>
                    <ul class="list-group">
                        {% for round, outcome in bundle.round_outcomes.items %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Round {{ round }}
                            <span
                                class="badge bg-label-{% if outcome == 'W' %}success{% elif outcome == 'L' %}danger{% else %}secondary{% endif %}">
                                {% if outcome == 'W' %}
                                Won
                                {% elif outcome == 'L' %}
                                Lost
                                {% else %}
                                Pending
                                {% endif %}
                            </span>
                        </li>
                        {% empty %}
                        <li class="list-group-item text-center">No outcomes recorded yet.</li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Participant and Action Buttons -->
                <ul class="g-2 my-4 list-unstyled">
                    <li class="mb-2"><i class="fa-solid fa-users text-primary me-2"></i>
                        x{{ bundle.participants_count }}
                        Participant{{ bundle.participants_count|pluralize }}
                    </li>
                    <li class="mb-2"><i class="fa-solid fa-trophy text-primary me-2"></i>
                        {{ bundle.winning_percentage|floatformat:0 }}% Winnings Rate
                    </li>
                    <li><i class="fa-solid fa-clock-rotate-left text-primary me-2"></i>
                        {{ bundle.updated|date:"F j, Y" }}
                    </li>
                </ul>

                <div class="d-grid gap-2 w-100 mt-4 pt-2">
                    {% if not bundle.group.status == 'C' %}
                    {% if bundle.status == 'P' %}
                    <a href="javascript:;" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#updateBundleStatus"><i class="fa-solid fa-pen me-2"></i> Update Bundle</a>
                    {% endif %}
                    {% endif %}
                    <a href="{{ bundle.group.get_absolute_url }}" class="btn btn-secondary"><i
                            class="fa-solid fa-object-group me-2"></i> View Group</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bundle Participants -->
    <div class="col-xl-8 col-lg-7 col-md-7">
        <div class="card">
            {% include 'accounts/administrator/partials/_card_header.html' with card_header="Bundle Participants List" %}
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Stake</th>
                            <th>Potential Win</th>
                            <th>Date Purchased</th>
                            <th>Reference ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in approved_purchases %}
                        <tr>
                            <td>{{ purchase.user.get_full_name }}</td>
                            <td>₦{{ purchase.amount|floatformat:2|intcomma }}</td>
                            <td>₦{{ purchase.payout_amount|floatformat:2|intcomma }}</td>
                            <td>{{ purchase.created|date:"M d, Y" }}</td>
                            <td>{{ purchase.reference }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No record yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "accounts/administrator/partials/_pagination.html" with page_obj=bundles %}
        </div>
    </div>
</div>

{% include "bundles/modals/update_bundle_status.html" %}

{% endblock content %}