{% load widget_tweaks %}
<div class="modal fade" id="updatePayout{{ payout.id }}" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="payout_id" value="{{ payout.id }}">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-circle-info me-1"></i> Update Payout
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <h6>Payout Information</h6>
                        <div class="mb-2 col-12">
                            {{ payout.user.profile.payout_information|linebreaks }}
                        </div>
                        <hr>
                        <h6>Transaction Note</h6>
                        <textarea name="note" id="id_note" cols="20" rows="4" class="form-control"
                            {% if not payout.status == "P" %}disabled{% endif %}>{{ payout.note }}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-times-circle me-2"></i> Cancel
                    </button>
                    {% if payout.status == "P" %}
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-check-circle me-2"></i> Approve Payout
                    </button>
                    {% else %}
                    <button disabled="disabled" class="btn btn-info">
                        <i class="fa-solid fa-check-double me-2"></i> Payout Approved
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>