<tr>
    <td>{{ user.user.get_full_name }}</td>
    <td>{{ user.user.email }}</td>
    <td>{{ user.phone_number }}</td>
    <td>{{ user.user.date_joined }}</td>
    <td><span
            class="badge rounded bg-label-{% if user.is_banned %}danger{% elif user.email_confirmed %}success{% else %}info{% endif %}">{% if user.is_banned %}Banned{% elif user.email_confirmed %}Active{% else %}Pending{% endif %}</span>
    </td>
    <td>
        <div class="d-flex">
            <div class="avatar me-2">
                <a href="{% url 'administrator:users_detail' user.user.username %}"
                    class="avatar-initial rounded bg-label-primary" data-bs-toggle="tooltip" data-bs-offset="0,8"
                    data-bs-placement="top" data-bs-custom-class="tooltip-primary" title="View User">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
    </td>
</tr>