<tr>
    <td>{{ fullname }}</td>
    <td>{{ email }}</td>
    <td>{{ mobile }}</td>
    <td>{{ date }}</td>
    <td><span class="badge rounded bg-label-{{ status_label }}">{{ status }}</span></td>
    <td>
        <div class="d-flex">
            <div class="avatar me-2">
                <a href="" class="avatar-initial rounded bg-label-primary" data-bs-toggle="tooltip" data-bs-offset="0,8"
                    data-bs-placement="top" data-bs-custom-class="tooltip-primary" title="View User">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
            <div class="avatar">
                <a class="avatar-initial rounded bg-label-danger" data-bs-toggle="modal" data-bs-target="#banUserModal">
                    <i class="fa-solid fa-ban"></i>
                </a>
            </div>
        </div>
    </td>
</tr>