{% extends "accounts/base.html" %}
{% load humanize %}

{% block title %}Admin Dashboard{% endblock title %}

{% block content %}

<h4 class="py-3 mb-1">Dashboard</h4>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Welcome back, Admin!</h5>
                        <p>Check your dashboard for some new updates today.</p>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-primary">
                    <div class="card-body pb-0 px-0 px-md-4">
                        <i class="fas fa-user-ninja fa-9x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="card card-border-shadow-info">
            <div class="card-body">
                <div class="card-title">
                    <div class="avatar flex-shrink-0">
                        <span class="avatar-initial rounded-circle bg-label-info">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                        </span>
                    </div>
                </div>
                <span>Total Stakes</span>
                <h3 class="card-title text-nowrap mt-2 mb-0">₦ {{ total_purchases|floatformat:0|intcomma }}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="card card-border-shadow-success">
            <div class="card-body">
                <div class="card-title">
                    <div class="avatar flex-shrink-0">
                        <span class="avatar-initial rounded-circle bg-label-success">
                            <i class="fa-solid fa-credit-card"></i>
                        </span>
                    </div>
                </div>
                <span>Total Payouts</span>
                <h3 class="card-title text-nowrap mt-2 mb-0">₦ {{ total_payouts|floatformat:0|intcomma }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="fa-solid fa-object-group"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ total_groups }}</h4>
                </div>
                <p class="mb-1"><a href="{% url 'groups:groups_all' %}" class="stretched-link">Total
                        Group{{ total_groups|pluralize }}</a></p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ running_groups }}</span>
                    <small class="text-muted">Running group{{ running_groups|pluralize }}</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-success h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="fa-solid fa-layer-group"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ total_bundles }}</h4>
                </div>
                <p class="mb-1"><a href="{% url 'groups:bundles_all' %}" class="stretched-link text-success">Total
                        Bundle{{ total_bundles|pluralize }}</a></p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ pending_bundles }}</span>
                    <small class="text-muted">Pending bundle{{ pending_bundles|pluralize }}</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-info">
                            <i class="fa-solid fa-users"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ total_users }}</h4>
                </div>
                <p class="mb-1"><a href="{% url 'administrator:users_all' %}" class="stretched-link text-info">Total
                        Users</a></p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ active_users }}</span>
                    <small class="text-muted">Active user{{ active_users|pluralize }}</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="fa-solid fa-ticket"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0">{{ total_tickets }}</h4>
                </div>
                <p class="mb-1"><a href="{% url 'administrator:tickets_all' %}"
                        class="stretched-link text-warning">Total
                        Tickets</a></p>
                <p class="mb-0">
                    <span class="fw-medium me-1">{{ pending_tickets }}</span>
                    <small class="text-muted">Pending ticket{{ total_tickets|pluralize }}</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    {% if top_bundles %}
    <!-- Bundle Performance -->
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title m-0 me-2">Top Purchased Bundles</h5>
            </div>
            <div class="card-body">
                <ul class="p-0 m-0">
                    {% for bundle in top_bundles %}
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-success"><i
                                    class='fas fa-{{ forloop.counter }}'></i></span>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">{{ bundle.bundle__name }}</h6>
                                <small class="text-muted">{{ bundle.bundle__group__name }}</small>
                            </div>
                            <div class="user-progress">
                                <small class="fw-medium">₦{{ bundle.total_amount|floatformat:0|intcomma }}</small>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--/ Bundle Performance -->
    {% endif %}

    {% if latest_purchases %}
    <!-- Purchases -->
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title m-0 me-2">Most Recent Stakes</h5>
            </div>
            <div class="card-body">
                <ul class="p-0 m-0">
                    {% for purchase in latest_purchases %}
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded-circle bg-label-success">
                                {{ purchase.user__first_name|make_list|first|title }}
                            </span>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <small class="text-muted d-block mb-1">{{ purchase.user__first_name }}
                                    {{ purchase.user__last_name }}</small>
                                <h6 class="mb-0">{{ purchase.reference }}</h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                                <h6 class="mb-0">₦{{ purchase.amount|floatformat:0|intcomma }}</h6>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--/ Deposits -->
    {% endif %}

    {% if latest_payouts %}
    <!-- Payouts -->
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title m-0 me-2">Latest Payouts</h5>
            </div>
            <div class="card-body">
                <ul class="p-0 m-0">
                    {% for payout in latest_payouts %}
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded-circle bg-label-success">
                                {{ payout.user__first_name|make_list|first|title }}
                            </span>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <small class="text-muted d-block mb-1">{{ payout.user__first_name }}
                                    {{ payout.user__last_name }}</small>
                                <h6 class="mb-0">₦{{ payout.amount|floatformat:0|intcomma }}</h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                                <h6 class="mb-0">{{ payout.paid_on|date:"M j, Y" }}</h6>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--/ Payouts -->
    {% endif %}

</div>

{% endblock content %}